.welcome-page__header {
  background-image: linear-gradient(111deg, #00bc9b, #1696e1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 15vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.welcome-page__main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.welcome-page__main-title {}