.footer {
  background-color: #f6f7fb;
  color: #8e929f;
  padding: 3.8rem 5rem;
}

.footer__logo-block {
  display: flex;
  margin-bottom: 2rem;
}

.footer__logo {
  color: #000000;
  font-weight: bold;
}

.footer__copyrights {
  padding: 0 1rem 0 3rem;
}

.footer__nav-block {
  display: flex;
}

.footer__nav {
  margin: 0 0 0 auto;
}

.footer__nav .bullet-separator {
  margin: 0 .7rem;
}

.footer__nav-link,
.footer__nav-link:link {
  color: #8e929f;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer__nav-link:hover {
  color: #4a4a4a;
}

@media (min-width: 37.5em) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer__logo {
    width: 16rem;
    margin-right: 3rem;
  }
  .footer__copyrights {
    margin: auto 1rem;
    width: 25rem;
    line-height: 1.5;
  }
}